.chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  width: auto;
  height: auto;
  z-index: 1;
}

#chat-container {
  display: flex;
}

.chat-container .item-container {
  position: relative;
  display: flex;
  width: 240px;
  height: auto;
  margin: 0 5px 0 0;
}

.chat-container .item-container-contact {
  width: 200px;
}

.chat-container input[type="checkbox"] {
  display: none;
}

.chat-container .item-container .item {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-shadow: -0.5px -0.5px 4px 0 rgba(0, 0, 0, 0.6), 0.5px -0.5px 4px 0 rgba(0, 0, 0, 0.6);
  border-radius: 5px 5px 0 0;
}

.chat-container .item-container .item .head-contact {}










.chat-container .item-container .item .head-contact input[type="checkbox"],
.chat-container .item-container .item .head-contact .label-contact-sound img:first-child {
  display: none;
}

.chat-container .item-container .item .head-contact input[type="checkbox"]:checked ~ .label-contact-sound img:first-child {
  display: block;
}

.chat-container .item-container .item .head-contact input[type="checkbox"]:checked ~ .label-contact-sound img:last-child {
  display: none;
}

.chat-container .item-container .item .head-contact .label-contact-sound {
  width: 20px;
  height: 18px;
  margin: 0 5px 0 0;
  border-radius: 4px;
}

.chat-container .item-container .item .head-contact .label-contact-sound:hover {
  background: rgba(0,0,0,0.2);
}

.chat-container .item-container .item .head-contact .label-contact-sound img {
  width: 100%;
  height: 100%;
  filter: invert(1);
  padding: 3px;
}

.chat-container .item-container .item .head-chat .label-title-name input[type="checkbox"] {
  display: none;
}

.chat-container .item-container .item .head-chat .label-title-name input[type="checkbox"]:checked ~ .connect:before,
.chat-container .item-container .item .head-chat .label-title-name input[type="checkbox"]:checked ~ .disconnect:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  content: '';
  display: flex;
  width: 15px;
  height: 15px;
  background-image: url(../../src/icon/new-msg.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-container .item-container .item .head-chat,
.chat-container .item-container .item .head-contact {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  background: var(--primary_hover);
  border-radius: 5px 5px 0 0;
}

.chat-container .item-container .item .head-contact .label-title-name,
.chat-container .item-container .item .head-chat .label-title-name {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-container .item-container .item .head-contact .label-title-name .icon_contact {
  display: none;
}

.chat-container .item-container .item .label-title-name .disconnect,
.chat-container .item-container .item .label-title-name .connect {
  position: relative;
  display: flex;
  width: 10px;
  min-width: 10px;
  max-width: 10px;
  height: 10px;
  min-height: 10px;
  max-height: 10px;
  border-radius: 50%;
  margin: 0 5px 0 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.chat-container .item-container .item .label-title-name .connect {
  background: #159f5c;
}

.chat-container .item-container .item .label-title-name .disconnect {
  background: #a3a3a3;
}

.chat-container .item-container .item .label-title-name .title-name {
  color: var(--tertiary);
  font-size: 0.8em;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-container .item-container .item .head-chat .label-chat-button .close {
  display: flex;
  width: 17px;
  height: 17px;
  margin: 0 4px 0 auto;
  border-radius: 2px;
}

.chat-container .item-container .item .head-chat .label-chat-button .close:hover {
  background: rgba(0, 0, 0, 0.2);
}

.chat-container .item-container .item .head-chat .label-chat-button .close img {
  width: 100%;
  height: 100%;
  filter: invert(1);
  padding: 4px;
}






.chat-container .item-container .item .chat {
  display: flex;
  flex-direction: column;
  height: 0px;
  background: var(--quaternary_hover);
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-container .item-container .item .contact-container {
  max-height: 0px;
}

.chat-container .item-container .item .chat .contact {
  display: flex;
  padding: 5px;
  margin: 2px 0;
  border-radius: 5px;
  background: #FFFFFF;
}

.chat-container .item-container .item .chat .contact:hover {
  background: #dddddd;
}

.chat-container .item-container .item .chat .to img,
.chat-container .item-container .item .chat .contact img {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 50%;
  background: var(--quaternary);
  margin: 0 5px 0 0;
}

.chat-container .item-container .item .chat .connect {
  position: relative;
}

.chat-container .item-container .item .chat .connect:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 25px;
  display: flex;
  width: 7px;
  height: 7px;
  background: #42B72A;
  border-radius: 50%;
  border: solid 2px #FFFFFF;
}

.chat-container .item-container .item .chat .contact .user {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chat-container .item-container .item .chat .contact .user .name,
.chat-container .item-container .item .chat .contact .user .type {
  width: 85%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-container .item-container .item .chat .contact .user .name span {
  font-size: 0.8em;
  color: #262626;
}

.chat-container .item-container .item .chat .contact .user .type span {
  font-size: 0.75em;
  color: #5c5c5c;
}

.chat-container .item-container .item .search {
  display: flex;
  width: 100%;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: var(--quaternary_hover);
}

.chat-container .item-container .item .search input[type="search"] {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 0.8em;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.chat-container .item-container .item .chat .msg_visto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px 0;
}

.chat-container .item-container .item .chat .msg_visto img {
  width: 10px;
  height: 7px;
  filter: invert(0.5);
}

.chat-container .item-container .item .chat .msg_visto span {
  font-size: 0.7em;
  color: #74777d;
  margin: 0 0 0 2px;
}

.chat-container .item-container .item .chat .msg {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 2px 0;
}

.chat-container .item-container .item .chat .msg .texto-imagen-container {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 185px;
  height: auto;
  font-size: 0.85em;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
  word-wrap: break-word;
}

.chat-container .item-container .item .chat .msg .texto-imagen-container p {
  width: auto;
  height: auto;
  padding: 4px 7px;
  user-select: all;
}

.chat-container .item-container .item .chat .to .texto-imagen-container a {
  color: #385898;
}

.chat-container .item-container .item .chat .to .texto-imagen-container a:hover {
  color: #324f89;
}

.chat-container .item-container .item .chat .me .texto-imagen-container a {
  color: #eaeaea;
}

.chat-container .item-container .item .chat .me .texto-imagen-container a:hover {
  color: #FFFFFF;
}

.chat-container .item-container .item .chat .msg .texto-imagen-container .mensaje_foto {
  display: flex;
  width: auto;
  max-width: 99%;
  height: auto;
  max-height: 200px;
  margin: 5px 0 0 0;
  box-shadow: none;
  border-radius: 2px 2px 5px 5px;
  margin: 1px;
  background-color: #FFFFFF;
  pointer-events: inherit;
}

.chat-container .item-container .item .chat .me .texto-imagen-container .mensaje_foto {
  border-radius: 1px 1px 0px 7px;
}

.chat-container .item-container .item .chat .to .texto-imagen-container .mensaje_foto {
  border-radius: 1px 1px 7px 7px;
}

.chat-container .item-container .item .chat .to {}

.chat-container .item-container .item .chat .to img {
  width: 25px;
  height: 25px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.chat-container .item-container .item .chat .to .texto-imagen-container {
  background: #F1F0F0;
  border-radius: 0 7px 7px 7px;
}

.chat-container .item-container .item .chat .me {}

.chat-container .item-container .item .chat .me .texto-imagen-container {
  background: #0099FF;
  border-radius: 7px 7px 0px 7px;
  margin: 0 0 0 auto;
  color: #FFFFFF;
}

.chat-container .item-container .item .write {
  display: flex;
  width: 100%;
  height: 0;
  background: #FFFFFF;
}

.chat-container .item-container .item .write textarea {
  width: 100%;
  height: auto;
  padding: 8px 5px;
  font-size: 0.75em;
  resize: none;
}

.chat-container .item-container .item .write input[type="file"] {
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
  margin: auto 1px;
  border: none;
  border-style: none;
  background: #FFFFFF;
  border-radius: 3px;
}

.chat-container .item-container .item .write input[type="file"]:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: url("../../src/icon/link.png");
  background-size: 17px 17px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.chat-container .item-container .item .write input[type="file"]:hover:before {
  background-color: #cacaca;
}



.chat-container .item-container input[type="checkbox"]:checked ~ .item .chat {
  height: 220px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.chat-container .item-container input[type="checkbox"]:checked ~ .item .search {
  height: 30px;
  /*  padding: 5px;*/
}

.chat-container .item-container input[type="checkbox"]:checked ~ .item .contact-container {
  height: auto;
  max-height: 60vh;
  min-height: 220px;
}

.chat-container .item-container input[type="checkbox"]:checked ~ .item .write {
  height: 30px;
}




































/* _____________ SCROLL _ STYLES ________________ */
.chat-container .item-container .item .write textarea::-webkit-scrollbar,
.chat-container .item-container .item .chat::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.chat-container .item-container .item .write textarea::-webkit-scrollbar-thumb,
.chat-container .item-container .item .chat::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 7px;
}

.chat-container .item-container .item .write textarea::-webkit-scrollbar-thumb:hover,
.chat-container .item-container .item .chat::-webkit-scrollbar-thumb:hover {
  background: var(--primary_hover);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.chat-container .item-container .item .write textarea::-webkit-scrollbar-track,
.chat-container .item-container .item .chat::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}