
.idea_content .header .search-container {
  display: flex;
  padding: 0px;
  box-shadow: 0 0 1px 1.5px var(--primary);
  background: var(--primary);
}

.idea_content .header .search-container .select-container {
  display: flex;
  min-width: 60px;
  border-radius: 20px 0 0 20px;
  padding: 0 5px 0 10px;
  background: var(--primary);
}

.idea_content .header .search-container .select-container select {
  padding: 0 0 0 10px;
  background: rgba(0,0,0,0);
  color: var(--tertiary);
  font-size: 0.8em;
  font-weight: bold;
  border: solid 1px var(--primary);
}

.idea_content .header .search-container .select-container select option {
  font-size: 1em;
  font-weight: bold;
  background: var(--secondary);
  color: var(--tertiary);
}

.idea_content .header .search-container .idea_search {
  box-shadow: none;
  border-radius: 0 20px 20px 0;
}


/*DATATABLES STYLES - START*/
.dataTables_filter,
.dataTables_length {
  display: none;
}

.dataTables_info,
.dataTables_paginate {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 15px;
  width: 100%;
  height: auto;
  color: var(--tertiary);
  background: var(--secondary);
}

.dataTables_info {
  color: var(--primary_hover);
}

.dataTables_paginate {
  display: flex;
  box-shadow: 0 1000px 0px 1000px var(--secondary);
}

.dataTables_paginate .paginate_button {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: auto;
  height: 30px;
  background: var(--quaternary);
  background: rgba(0,0,0,0);
  color: var(--primary);
  border: solid 1px var(--primary);
  padding: 0 5px;
  margin: 5px;
  border-radius: 3px;
  font-size: 0.75em;
  letter-spacing: 1px;
}

.dataTables_paginate .paginate_button:hover {
  background: var(--primary);
  color: var(--tertiary);
}

.dataTables_paginate span .ellipsis {
  color: var(--primary);
}
.dataTables_paginate span .paginate_button {
  padding: 0 10px;
}



.idea_content .idea_content_table {
  display: block;
}

.idea_content .idea_table {
  display: block;
  max-width: 100%;
  min-height: 70vh;
  overflow-x: scroll;
}










@media (max-width: 600px) {
  
  .idea_content .header .search-container {
    width: 85%;
    margin: 5px 0 0 0;
  }
  
  .idea_content .header .idea_search {
    margin: 0px;
    width: 100%;
  }
}











.idea_content .idea_table::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.idea_content .idea_table::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 7px;
}

.idea_content .idea_table::-webkit-scrollbar-thumb:hover {
  background: var(--primary_hover);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.idea_content .idea_table::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
