@font-face{
  font-family: AdventPro-Light;
  src: url(fonts/AdventPro-Light.ttf);
}
@font-face{
  font-family: AdventPro-Medium;
  src: url(fonts/AdventPro-Medium.ttf);
}
.sections {
  display: flex; flex-direction: column;
}
.sections .section {
  background: #ffffff; color: #1B2428;
  display: flex; flex-wrap: wrap;
  justify-content: center;
}
.sections .section .title {
  background: #1B2428; color: #ffffff;
  display: flex; justify-content: center;
  width: 100%;
  padding: 75px 0;
  font-family: AdventPro-Light; font-size: 2.5em; font-weight: ;
}
.sections .section .accounts {
  display: flex; flex-direction: column;
  padding: 50px 0; margin: auto;
}
.sections .section .accounts p {
  font-family: AdventPro-Light; font-size: 1.5em; font-weight: bold;
  margin: 10px 0;
}
.sections .section .accounts p b {
  font-family: AdventPro-Medium; font-weight: bold;
}
.sections .section .accounts p a {
  color: #4D7DE1;
}