@font-face{
  font-family: AdventPro-Light;
  src: url(fonts/AdventPro-Light.ttf);
}
@font-face{
  font-family: AdventPro-Medium;
  src: url(fonts/AdventPro-Medium.ttf);
}
.sections {
  display: flex; flex-direction: column;
}
.sections .section {
  background: #ffffff; color: #1B2428;
  display: flex; flex-wrap: wrap;
  justify-content: center;
}
.sections .section .title {
  background: #1B2428; color: #ffffff;
  display: flex; justify-content: center;
  width: 100%;
  padding: 75px 0;
  font-family: AdventPro-Light; font-size: 2.5em; font-weight: ;
}

.sections .section .sub_section {
  display: flex; flex-direction: column; 
  justify-content: center; align-items: center;
  width: 100%;
}
.sections .section .sub_section .social {
  display: flex; flex-wrap: wrap; justify-content: center;
  width: 100%; max-width: 900px;
}
.sections .section .sub_section .social a {
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  width: 130px; height: 150px;
  padding: 10px; margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
  font-family: AdventPro-Medium; font-size: 1.1em; font-weight: bold;
}
.sections .section .sub_section .social a img {
  width: 100%; height: 100px;
}
.sections .section .sub_section .schedule {
  width: 100%; max-width: 900px;
  display: flex; flex-direction: column;
  width: 100%;
  padding: 10px; margin: 20px 0;
}
.sections .section .sub_section .schedule p {
  font-family: AdventPro-Medium; font-size: 1.5em;
}
.sections .section .sub_section .map {
  width: 100%; max-width: 900px;
}
.sections .section .sub_section .map iframe {
  width: 100%;
}


/* SECTIONS > SECTION > FORM */
.sections .section form {
  display: flex; flex-wrap: wrap; justify-content: space-between;
  width: 100%; max-width: 1000px;
  margin: 20px 0;
}
.sections .section form .campo {
  display: flex; flex-direction: column;
  width: 100%; max-width: 400px;
  margin: 10px;
}
.sections .section form .campo span {
  font-family: AdventPro-light; font-size: 1.3em; font-weight: bold;
  color: #666666;
}
.sections .section form .campo span b {
  color: #DD5145;
}
.sections .section form .campo input{}
.sections .section form .campo input,
.sections .section form .campo select,
.sections .section form .textarea textarea {
  font-family: sans-serif; font-size: 1.1em;
  color: #000000;
  padding: 5px;
  outline: none;
}
.sections .section form .campo select {}
.sections .section form .textarea {
  width: 100%; max-width: none;
  margin: 0;
}
.sections .section form .textarea textarea {
  width: 100%; min-width: 100%; max-width: 100%;
  height: 150px; min-height: 150px; max-height: 200px;
}
.sections .section form .textarea input[type="submit"] {
  background: #1B2428; color: #ffffff;
  font-family: AdventPro-Medium; font-size: 1.5em; font-weight: 1000;
  border-style: none;
  margin: 50px 0;
  border-radius: 5px;
}
.sections .section form .textarea input[type="submit"]:hover {
  background: #090c0d; color: #c0c0c0;
}

/* MEDIA QUERYS */
@media (max-width: 800px) {
  .sections .section .items {
    flex-direction: column;
    padding: 50px 20px;
  }
  .sections .section .items .item {
    margin: 50px 0;
    max-width: 500px;
    width: 100%;
  }
}
@media (max-width: 860px) {
  .sections .section form {
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap; flex-direction: column; align-items: center;
  }
  .sections .section form .campo,
  .sections .section form .textarea {
    width: 100%; max-width: 600px;
  }
}
@media (max-width: 800px) {
  .sections .section form .campo,
  .sections .section form .textarea {
    max-width: 500px;
  }
}
